<section class="organizer">
	<div class="landinglink">
		<a href="/authors">
			<img src="/images/author.jpg" alt="">
			<h2>Browse Authors</h2>
		</a>
	</div>
	<div class="landinglink">
		<a href="/books">
			<img src="/images/book.jpg" alt="">
			<h2>Browse Books</h2>
		</a>	
	</div>
</section>
