<!DOCTYPE html>
<html>
  <head>
    <title>Reads</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
	<header>
		<img src="/images/glogo.png" alt="reads logo">
		<h1>Welcome to Reads!!</h1>
	</header>
  <body>
    {{{body}}}
  </body>
</html>
