* {
	padding: 0px;
	margin: 0px;
}


a {
  color: #00B7FF;
}

header{
	width: 100vw;
	padding: 0px;
	margin: 0px;
	display: flex;
	border-bottom: 2px solid black;
	align-items: center;
}

body {
	/*padding: 50px;*/
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header img {
	height: 75px;
}
.media, .form{
	padding:20px;
	padding-left: 150px;
}
.covers {
	height: 300px;
	width: 300px;
}
.delButton{
	display: flex;
	justify-content: center;
}
.item-nav {
	display: flex;
	flex-direction: column;
}

.authors span:not(:last-child):after {
	content: ", ";
}
